/* css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility classes */
.action-link {
  padding: 8px 16px;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
}
/* header */
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .desktop-nav {
  display: none;
}
header .desktop-nav a {
  color: hsl(273, 4%, 51%);
  text-decoration: none;
  text-transform: uppercase;
}

header #mobile-nav-btn {
  background-color: transparent;
  border: none;
}
header #mobile-nav-btn img {
  height: 50px;
}
header .logo {
  height: 30px;
}
.header .action-link {
  color: black;
}
@media (min-width: 768px) {
  header {
    padding: 20px 70px;
  }
  header .desktop-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  header #mobile-nav-btn {
    display: none;
  }
}

.line {
  width: 100px;
  border-bottom: 1px solid white;
}

/* hero sections */
.hero {
  background-color: hsl(256, 26%, 20%);
}
#hero-image-desktop {
  display: none;
}
.hero img {
  width: 100%;
  display: block;
}

.hero .text-side {
  color: hsl(0, 0%, 98%);
  padding: 70px 20px;
  text-align: center;
  position: relative;
}
.hero h1 {
  margin: 30px 0px;
  font-size: 45px;
  z-index: 1;
}
.hero p {
  margin: 10px 0px;
}
.hero .action-link {
  display: inline-block;
  color: white;
  border-color: white;
  text-decoration: none;
}
/* Pseudo element in css  */
.hero .text-side::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  z-index: 0;
}
.hero .text-side::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  bottom: -50%;
  background-image: url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 70px;
    align-items: center;
  }
  .hero .text-side {
    padding: 0;
    text-align: left;
    flex: 1; /*flex grow 1 flex shrink 1 flex basis 0px */
  }
  .hero .image-side {
    flex: 1;
  }
  #hero-image-desktop {
    display: block;
    position: relative;
    top: 70px;
  }
  #hero-image-mobile {
    display: none;
  }
  .hero .text-side::before {
    display: none;
  }
  .hero .text-side::after {
    display: none;
  }
  .hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 35%;
    z-index: 3;
  }
  .hero::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    transform: translateY(-150px);
    height: 300px;
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    z-index: 0;
  }
}

/* why choose us section */
.why-us {
  text-align: center;
  color: hsl(273, 4%, 51%);
  padding: 20px;
}
.why-us .line {
  border-color: hsl(256, 26%, 20%);
  margin: 50px auto;
}
.why-us ul {
  list-style-type: none;
}
.why-us h2,
.why-us h3 {
  color: hsl(256, 26%, 20%);
}
.why-us h3 {
  margin: 30px 0px;
}
.why-us h2 {
  font-size: 35px;
  margin-bottom: 25px;
}
.why-us ul p {
  margin-bottom: 15px;
}
.why-us ul img {
  width: 55px;
}
@media (min-width: 768px) {
  .why-us {
    text-align: left;
    padding: 20px 70px;
  }
  .why-us ul {
    display: flex;
    gap: 18px;
  }
  .why-us .line {
    margin-left: 0px;
  }
}

/* call to action section */
.cta {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  margin: 20px;
  padding: 60px 10px;
  text-align: center;
  background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.cta h2 {
  font-size: 45px;
  margin-bottom: 30px;
}
.cta .action-link {
  color: inherit;
  border-color: inherit;
  text-decoration: none;
  display: inline-block;
}

@media (min-width: 768px) {
  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 40px;
    margin: 20px 70px;
  }
  .cta h2 {
    width: 50%;
  }
}
/* footer */

footer {
  background-color: hsl(0, 0%, 98%);
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}
footer a {
  color: hsl(270, 9%, 17%);
  display: block;
  text-decoration: none;
  margin: 14px 0px;
}
footer .top-footer {
  border-bottom: 1px solid hsl(273, 4%, 51%);
}
footer .top-footer nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer p {
  color: hsl(273, 4%, 51%);
  margin: 20px 0px;
}
@media (min-width: 768px) {
  footer {
    padding: 20px 70px;
  }
  footer .top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0px;
  }
  footer .bottom-footer {
    display: flex;
  }
  footer .bottom-footer nav {
    flex: 1; /* 1 1 0 */
    text-align: start;
  }
}
/* animations -- transition property */
